@import "style";
@media #{$phone}{
  .toptitle{
      font-size:10px !important;
  }
  .top-navbar{
      padding-left: 5px !important;
      padding-right: 5px !important;
  }
  .nav-link{
      font-size: 5px !important;
  }
  .top-navbar-container
  {
      padding:0 !important;
      margin-left: 8px !important
  }
  .bottom-navbar
  {
      padding: 5px 0 !important;
  }
  .title
  img
  {
    width: 155px !important;
  }
  .bottom-navbar-container__right
  {
      margin-right: 8px !important
  }

  .carouselItem1-container-text_subtitle
  {
      width: 250px !important;
      font-size: 10px !important;
      margin: 0 60px !important;
      padding-bottom: 20px !important;
  }
  .carouselItem1-container-text_title
  {
      width: 300px !important;
      font-size: 50px !important;
      margin: 0 35px !important;
      line-height: 2.9rem !important;
      padding-bottom: 20px !important;
  }
  .carouselItem1-container-btn
  {
      margin: 0 50px !important;
  }
  /*carousel 2*/
  .carouselItem2-container-division,
  .carouselItem3-container-division{
      padding: 20px 10px  !important;
      width: 340px !important;
  }
  .carouselItem2-title,
  .carouselItem3-title{
      font-size: 0.8rem !important;
  }
  .carouselItem2-position-right-body__title,
  .carouselItem3-position-right-body__title{
      font-size: 0.8rem !important;
      padding: 10px !important;
      line-height: 1.1rem !important;
  }
  .carouselItem2-division__position_left,
  .carouselItem3-division__position_left{
      width: 340px !important;
      height: 200px !important;
      background-size: cover;  
      background-repeat: no-repeat;
      background-position: center; 
  }
  .carouselItem2-division-position-right,
  .carouselItem3-division-position-right{
    width: 340px !important;
    height: 270px !important;
  }
  /*carousel3*/
  .carousel3-middle-right{
      padding-left: 195px !important;
  }
  /*dots*/
  .main-carousel-slideshow-dot{
      padding-left:105px !important;
  }
  .carousel3-middle-top-right{
      padding-left: 115px !important;
  }
  .carouselItem3-btn{
      padding-left: 75px !important;
  }
  /*carousel 4*/
  .carouselItem4-container-wrap,
  .carouselItem5-container-wrap{
      padding: 10px !important;
  }
  .carouselItem4-container-division,
  .carouselItem5-container-division{
      width: 341px !important ;
      height: 480px !important;
      padding: 8px !important;
  }
  .carouselItem4-division__position_left,
  .carouselItem5-division__position_left{
      width: 325px !important;
      height: 220px !important;
  }
  .carouselItem4-division-position-right,
  .carouselItem5-division-position-right{
    width: 325px !important;
    padding-top: 10px !important;
    padding-left: 0px !important;
}
  
  /*IPO*/
  .about-text-header,
  .about-text-desc{
      width: 300px !important;
  }
  .about__btn{
      padding-left: 30px !important;
  }
  .carouselItem2-btn{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 75px !important;
  }
  /*PICKUP*/
  .pickup-contianer{
      margin-left: 5px !important;
      margin-right: 0px !important;
  }
  .pickup-card-wrapper{
      margin-top: 30px !important;
      margin-bottom: 30px !important;
  }
  .pickup-footer{
      padding-top: 80px !important;
  }
  /*Case study section*/
  .case-study-row-left{
    padding-left: 10px !important;
  }
  .case-study-dialog-container{
      width: 340px !important;
      height: 410px !important;
  }
  .case-study-pf-img-left{
      margin-right: 0px !important;
      margin-bottom: 0px !important;
      width: 150px !important;
      height: 150px !important;
  }
  .case-study-pf{
      padding-left: 90px !important;
  }
  .case-study-row-right{
      padding-left: 10px !important;
  }
  .case-study-pf-img-right{
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    width: 150px !important;
    }
    /*CREOWD FUNDING*/
    .crowd-funding-left-container{
        padding-left:30px !important;
        padding-right:30px !important;
    }
    .crowd-funding-title-first,
    .crowd-funding-title-middle,
    .crowd-funding-title-last{
        font-size: 1.3rem !important;
        text-align: center !important;
    }
    .crowd-funding-title{
        width: 300px !important;
    }
    .crowd-funding-description{
        width: 300px !important;
    }
    .crowd-funding-button{
        margin-left: 20px !important;
    }
    /*CARD*/
    .new-card1{
        margin-left: 10px !important;
        width: 340px !important;
        height: 257px !important;
    }
    /*footer*/
    .main-footer{
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .footer-1-top-container-top{
        width: 310px !important;
        height: 550px !important;
    }
}