/*partial SaSS*/
@import 'css_reset';
@import 'carousel';
/*> Media query responsive*/
$phone: "(max-width: 767px)";
$tablet: "(min-width:768px) and (max-width:1023px)";
$xl-tablet: "(min-width:1024px) and (max-width:1365px)";
$desktop: "(min-width: 1366px)";
/*> SaSS*/
/*variable*/
/*color*/
$color-heading: #283C50;
$color-white: #fff;
$color-black: #000;
$color-primary: #00A0E9;
/*element*/
$reg-font-size: 0.846rem;
$carouselItem1-bg-img:"/rsc/img/carouselItem1-background.webp"; 
$carouselItem2-bg-img:"https://s3-ap-northeast-1.amazonaws.com/fundinno.com/uploads/slider/bg_image/24/0944e70a-7bc0-40ae-987f-254e2d57835c.jpg"; 
$carouselItem3-bg-img:"https://s3-ap-northeast-1.amazonaws.com/fundinno.com/uploads/slider/bg_image/22/58e5a628-2482-47f6-8250-7cd3f51d1cfb.jpg"; 
$carouselItem4-bg-img:"https://s3-ap-northeast-1.amazonaws.com/fundinno.com/uploads/slider/bg_image/15/3685b823-ebb1-4838-8242-fe490ef2402b.jpg"; 
/*company logo url*/
$posting-logo-t1:"https://fundinno.com/assets/views/pages/media_banners/yahoonews_logo-847410724b563bebe3648481651e4bc4a47dccd76bd7d880a8b91d2219155f2f.png";
$posting-logo-t2:"https://fundinno.com/assets/views/pages/media_banners/best_venture_logo-8ebe394dae310eb3a96cb2dea619f57035b6e0ed708b011dd71a53ce9a154884.png";
$posting-logo-t3:"https://fundinno.com/assets/views/pages/media_banners/sankeibiz_logo-9b9a7319092e352ee0bcdbd6f4d44d90816e097db380a0b81c850b3be50a773b.png";
$posting-logo-t4:"https://fundinno.com/assets/views/pages/media_banners/jitsugyokai_logo-c4a8ebb1a250e32341a82ae855ff1a4054178aa80afed7feaffd3844c41ed017.png";
$posting-logo-t5:"https://fundinno.com/assets/views/pages/media_banners/venture_times_logo-3cd34f043662eceaf28bbd96ea6b8f6b6e36ba802b5faa2b6c3718438df48a38.png";
$posting-logo-t6:"https://fundinno.com/assets/views/pages/media_banners/techcrunch_logo-f1e670f4c03151b6af4ae2a16a57307ac4e42c373ce879292509d2977e5321d5.png";

$horizontally-center: 0 auto;
$vertically-center: auto 0;

/*blocks*/
/*CSS blocks*/
.full-width-screensize{
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
  margin: auto;
  color: #242A5E;
}
a{
  text-decoration: none;
}

.navbar {
    width: 100%;
    font-size: $reg-font-size;
    background: $color-heading;
    padding: 0.25rem 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding: 0.25rem 1rem;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}


.top-navbar-container{
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: inline-flex;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;

    width: 1325px;
    height: 43.44px;
    max-width: 1140px;
    /*right gap*/
    justify-content: space-between !important;
}
.top-navbar__left{
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 540px;
    
}

/*topnav-left*/
.top-navbar-container__left{
    color: #fff;
}

/*topnav-right*/
.top-navbar-container__right{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    
}
.nav-link{

    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;  
    background-color: transparent;
    color: #fff;
    font-size: $reg-font-size;
    padding: 6px;
}
.nav-link-modified{
    @extend .nav-link;
    color: $color-black;
    white-space: nowrap;
}
.navbar-background-white{
    @extend .navbar;
    background-color: $color-white;
}
.bottom-navbar-container__right{
    @extend .top-navbar-container__right;
}


.carousel-section, slideshow-container{
  width: 100%;
  background-color: rgb(248, 206, 18);
  margin:0;
}
.main-carousel-slideshow{
  height: 504px;
}
.main-carousel-slideshow,
.main-carousel-slideshow-dot{
  display: inline-block;
}
.main-carousel-slideshow-dot{
  background: transparent;
  padding-left: 600px;
}



@mixin full-screen-size($img-url){
  width: 100% !important;
  height: 100% !important;
  margin: 0px;
  background-image: url($img-url);
}
.carouselItem1-container
{
  @include full-screen-size($carouselItem1-bg-img);
  color: #fff;

}
.carouselItem2-container{
  @include full-screen-size($carouselItem2-bg-img);
  color: #fff;
}
.carouselItem3-container{
  @include full-screen-size($carouselItem3-bg-img);
}
.carouselItem4-container{
  @include full-screen-size($carouselItem4-bg-img);
  color: #fff;
}

.carouselItem1-container-wrap{
 
  text-align: center !important;
  
}
.carouselItem1-container-wrap-vertically-center{
  padding: 120px 0;
}
.carouselItem1-container-text_subtitle{
  font-size: 1.23rem;
    padding-top: 20px;
    margin-bottom: 6px;
}
.carouselItem1-container-text_title{
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 32px;
  line-height: 60px;
  letter-spacing: 0.3rem;
  font-weight: bold;
}
.carouselItem1-container-btn{
  margin: $horizontally-center;
}
.btn-primary-inv {

  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.3), 0 1px 1px rgba(0,0,0,0.075);
  width: 266.56px;
  height: 49px;
  color: $color-primary;

}
.btn-lg, .btn-group-lg, .btn {
    padding: 16px 0px;  
    font-size: 1.076rem;
    line-height: 1.23rem;
    border-radius: 0.3rem;
    word-wrap: break-word;
  }
.carouselItem1-container-btn span{
  color: $color-primary;
}
.slideshow-container,
.tallies{
  clear: both;
}
.tallies{
  text-align: center;
  padding: 0px 0;
}
.tallies-container{
  @extend .full-width-screensize; 
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;  
}
.dot{
  clear:both;
}
.tallies-row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  border-right: 2px solid #dfdfdf;
}
.tally{
  padding: 32px 0;
  border-right: 2px solid #dfdfdf;
}
.tallies-col{ 
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
div.about{
  padding: 70px 0;
  border-bottom: 2px solid #f2f2f2;
  background-image: url(https://fundinno.com/assets/views/pages/index/agreement-business-businessmen-125d7b677a7a458f3d54357c248d9e33cb4aa6f0924332a35697597bc3dab6aa.png);
    background-size: cover;

}
.about-text-only{
  width: 634.98px;
  height: auto;
}
.about-container{
  @extend .tallies-container;
  max-width: 1140px;  
  margin:0% 8%;
}
.about-row{
  @extend .tallies-row;
  border-right: none;
 
}
.col-md-5{
  flex: 0 0 41.66667%;
    max-width: 41.66667%; 
}
.col-Md-7{
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
h3.mb-15{
      font-size: 1.35rem;
      line-height: 2.076rem;
}
.mb-15{
  margin-bottom: 15px !important; 
}
.about__btn{
  padding: 40px 0;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-lg {
  padding: 16px 30px;
  font-size: 1.076rem;
  line-height: 1.23rem;
  border-radius: 0.3rem;
}
.btn-primary{
  color: #fff;
  background-color: #00A0E9;
  border-color: #00A0E9;
  box-shadow: 0 0 8px rgba(0,0,0,0.3), 0 1px 1px rgba(0,0,0,0.075);
}
.about-primary{
  color: #00A0E9;
}
/*pickup*/
.pickup{
  padding: 88px 0;
}
/*flex work*/
.pickup-body-container {
  display: flex;
  flex-wrap: wrap;
}
/*card size*/
.pickup-card-wrapper{
  @extend .full-width-screensize;
  width: 350px;
  height: 570px;
  padding: 0 15px;
}
.pickup-contianer{
  margin: 0 140px;
}
.card-img-top{
  width: 320px;
  height: 180px;
}
h2.mb-30{
  font-size: 1.4rem;
  line-height: 3.076rem;
}
.mb-30{
  margin-bottom: 30px;
}
.text-center{
  text-align: center !important;
}
.text-primary{
  color: #00A0E9;
}
.pickup-body-card1{
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  padding: 0;
  
  
}
.card1{
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
}
/*pickup inside mediacompany*/
.company{
  height: 4.92rem;
  padding: 0 1.538rem;

}
.media {
  display: flex;
  align-items: flex-start;
}
img.media.company{
  border: 1px solid #fff;
  border-radius: 3px;
}
.pickup-body-card-1-body-name{
  padding: 36px 0 0 10px;
}
.pickup-body-card-1-body-name,
.pickup-body-card-1-body-pf{
  display: inline-block;
}
.pickup-body-card-1-body-mainContent,
.pickup-body-card-1-body-description{
  padding: 0 27.684px;

}
.pickup-body-card-1-body-mainContent{
  padding: 10px 15px;
  color: rgb(204, 240, 0) !important;
  text-decoration: none !important;
}
.pickup-body-card-1-body-mainContent a{
  color: #242A5E;
  text-decoration: none;
}
.pickup-body-card-1-body-mainContent{
  color: #242A5E;
  text-decoration: none;
}
.pickup-body-card-1-body-description{
  margin-bottom: 1.538rem;
  padding: 0 1.538rem;
  font-size: 0.769rem;
  line-height: 1.538rem;
  height: 4.614rem;
  color: rgba(36,42,94,0.4);
  overflow: hidden;
}
/*ribbon angel*/
.ribbon{
  position: absolute;
  top: 10px;
  left: 3px;
  color: #fff;
  text-align: center;
  font-size: 1.076rem;
  
}
.pickup-body-card-1-top-ttl{
  background: rgba(0,162,156,0.8);
  width: 160px;
  height: 58px;
  border-radius: 0 4px 4px 0;
  box-shadow: 3px 0 0 0 rgba(0,162,156,0.8), -3px 0 0 0 rgba(0,162,156,0.8), 0 3px 3px 0 rgba(0,0,0,0.1);
  padding: 7px 10px;
  line-height: 1.5rem;
}
.pickup-body-card-1-body-price{
  padding: 0 1.538rem;
  height: 4.614rem;
  font-weight: 600;
}
.float-right{
  float: right !important;
}
.solicit{
    font-size: 1.538rem;
    color: #00A0E9;
}
/*indicator*/
.indicator{
  height: 1rem;
  padding: 0 1.538rem;
  margin-bottom: 1.538rem;
}
.align-items-center {
  align-items: center ;
}

.justify-content-between {
  justify-content: space-between;
}
.d-flex {
  display: flex !important;
}
.projects.card>.card-body>.indicator .card-progress-wrapper i, .companies .projects.company-card>.card-body>.indicator .card-progress-wrapper i {
  color: #dee2e6;
  font-size: 0.923rem;
}

.text-primary {
  color: #00A0E9;
}
.mr-1, .mx-1 {
  margin-right: 0.25rem;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.projects.card>.card-body>.indicator .card-progress-wrapper .progress, .companies .projects.company-card>.card-body>.indicator .card-progress-wrapper .progress {
  height: 0.25rem;
  overflow: visible;
}

.w-100 {
  width: 100%;
}
.progress {
  display: flex;
  height: 0.25rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #dee2e6;
  border-radius: 0.25rem;
  box-shadow: none;
}
.projects.card>.card-body>.indicator .card-progress-wrapper .progress-bar, .companies .projects.company-card>.card-body>.indicator .card-progress-wrapper .progress-bar {
  border-radius: 0.25rem;
  padding-right: 0;
  position: relative;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #00A0E9;
  transition: width 0.6s ease;
}
.projects.card>.card-body>.indicator .card-progress-wrapper i, .companies .projects.company-card>.card-body>.indicator .card-progress-wrapper i {
  color: #dee2e6;
  font-size: 0.923rem;
}

.text-primary {
  color: #00A0E9;
}
.ml-1, .mx-1 {
  margin-left: 0.25rem;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*pickup footer*/
.pickup-body-card-1-bottom-ttl{
  height: 5.538rem;
    border: 1px solid #f2f2f2;
    font-size: 1.076rem;
    font-weight: 600;
}
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
.d-flex {
  display: flex;
}
/*seperate footer and body*/
.pickup-footer{
  padding-top:150px;
}

/*Case Study section*/
.case-study{
  display:block;
  padding: 88px 0;
  background-color: #F6F8FA;
  border-bottom: 2px solid #f2f2f2;
}
.case-study-container{
 
}
.case-study-header{
    font-size: 1.846rem;
    line-height: 3.076rem;
}
/*CASE-STUDY-SECTION__mb-50*/
.case-study-pf{

}
.case-study-pf-img-left{
  width: 64px;
  margin-bottom: 75px;
  margin-right: 20px;
  
}
.case-study-pf-img-right{
  width: 64px;
  margin-bottom: 75px;
  margin-left: 20px;
}
.round-circle{
  border-radius: 50% !important;
}
.case-study-pf,
.case-study-dialog{
  display: inline-block;
}

.case-study-row-left{ 
  padding-left:130px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size:0.8rem;
}
.case-study-row-right{ 
  padding-left:220px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.case-study-dialog-container{
  width: 919.984px;
  height: 172.344px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(163,163,163,0.5);
  border-radius: 5px;
  padding:30px;
  line-height: 30px;
}
.case-study-long{
  height:210px;
}
.dialog-title{
  font-weight: 900;
}
.case-study-footer{
  padding-top:40px;
}
/*crowd funding*/
div.crowd-funding{
  @extend div.about;
  background-image: url(https://fundinno.com/assets/views/pages/index/businessman-smartphone-e8660269950c6e76124c4f91901d7c42650e778ac2eafe82557506b62b4c718f.png);
}
.crowd-funding-left-container{
  width: 635px;
  height: 245px;
  padding-left: 120px;
}
.crowd-funding-title-first,
.crowd-funding-title-middle,
.crowd-funding-title-last{
  display: inline-block;
  font-size: 1.646rem;
  line-height: 3.076rem;
}
.crowd-funding-description{
  width: 635px;
  line-height: 1.8;
  font-size: 0.9rem;
  color: #242A5E;
}
.crowd-funding-button{
  @extend .about__btn;
}
/*NEW SECTION*/
.new{
  padding: 88px 0;  
  background-color: #F6F8FA;
}
/*new header*/
.new-header{

  height: 47px;
  padding-left: 380px;
}
.new-header-title,
.new-header-button{

  display: inline-block;
}
.new-header-title{
  font-size: 1.846rem;
  font-weight: 500;
  color: inherit;
  padding-right: 380px;
}
.new-header-button{
  width: 80px;
  height: 32px;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  padding: 10px 20px;
  left:100px;
}
.new-card1{
  background-color: rgb(255, 255, 255);
}
.new-card1-date,
.new-card1-badge{
  display: inline-block;
  padding: 10px 10px 10px 0;
}
.new-card1-date,
.new-card1-badge-orange{
  display: inline-block;
}
.new-card1-badge{
  color: #00A0E9;
  background-color: #e9f8ff;
  padding: 0.4em 0.6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.new-card1-badge-orange{
  color: #F2994A;
  background-color: #fff;
  display: inline-block;
  padding: 0.4em 0.6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.new-card1{
  width: 1040px;
  height: 130px;
  box-shadow: 0 0 10px 0 rgba(163,163,163,0.5);
  margin-left: 160px;
  padding: 25px;
  font-size: 0.8rem;
  line-height: 20px;
  margin-top:20px;
  margin-bottom:20px;
}
/*POSTING SECTION*/
.posting-text-container{
  font-size: 1.846rem;
    line-height: 3.076rem;
}
@mixin mixin-posting-logo($posting-logo-url){
  content:url($posting-logo-url);
  margin-left: auto;
  margin-right: auto;
}
.posting-container-t{
  padding: 10px 100px;
}
div.posting-t1{
  @include mixin-posting-logo($posting-logo-t1);
  width: 152px;
  height:35px;
}
div.posting-t2{ 
  @include mixin-posting-logo($posting-logo-t2);
  width: 105px;
  height: 59px;
}
div.posting-t3{
  @include mixin-posting-logo($posting-logo-t3);
  width: 140px;
  height: 25px;
}
div.posting-t4{
  @include mixin-posting-logo($posting-logo-t4);
  width: 86px;
  height: 30px;
}
div.posting-t5{
  @include mixin-posting-logo($posting-logo-t5);
  width: 146px;
  height: 43px;
}
div.posting-t6{
  @include mixin-posting-logo($posting-logo-t6);
  width: 163px;
  height: 36px;
}
div.posting-logo-left,
div.posting-logo-middle,
div.posting-logo-right{
  display: inline-block;
}
.posting-container{
  padding: 88px 0;
}
/*FOOTER SECTION*/
.main-footer{
  color: #fff;
  background-color: #283C50;
  font-size: 0.923rem;
  padding: 64px 100px;
}
.footer-1-top-container-top{
  width: 1130px;
  height: 190px;
  padding: 25px;
  background-color: rgba(255,255,255,0.12);
  font-weight: 100;
}
div.footer-1-bottom-col-left,
div.footer-1-bottom-col-right{
  display: inline-block;
  vertical-align: top;
}
.footer-1-top-container-top__inside,
.footer-1-top-container-bottom__inside{
  line-height: 1.6rem;
}
.footer-1-top-container-top__inside a,
.footer-1-top-container-bottom__inside a{
  color: #80e0f8;
  font-weight: 500;
}
.facebook, .twitter{
  padding: 10px 40px 10px 0;
  margin: 10px 0;
}
div.footer-link a{
  color: #fff;
  line-height: 1.9rem;
}
div.footer-link a:hover{
  color: #00A0E9;
}
.footer-1-bottom-col-left-container{
  padding: 40px 0;
  width: 350px;
  height: 400px;
}
.footer-1-bottom-col-right-container{
  padding: 40px 0;
}

.social-link a{
  width: 161px;
  height: 15px;
  padding: 16px 30px;
  cursor: pointer;
}
.facebook{
  background-color: #314A7E;
  border-radius: 0.2rem;
}
.twitter{
  background-color: #4BA2E4;
  border-radius: 0.2rem;
}
.fab{
  padding-right: 35px;
}

hr{
  margin-top:125px;
  margin-bottom: 50px;
}
.footer-title{
  color: #fff;
  font-size: 1.23rem;
}
.footer-container-2{
  line-height:1.4rem;
}
.footer-container-2-top,
.footer-container-2-middle,
.footer-container-2-bottom{
  padding:10px 0;
}
.sm{
  font-size:0.7rem;
  color: rgb(228, 228, 228);
}


