/*partial SaSS*/
@import 'css_reset';
@import 'carousel';
/*> Media query responsive*/
$phone: "(min-width: 120px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1366px)";
$xl-tablet: "(min-width: 991.98px) and (max-width: 1366px)";
$desktop: "(min-width: 1366.1px)";
/*> SaSS*/
/*variable*/
/*color*/
$color-heading: #283C50;
$color-white: #fff;
$color-black: #000;
$primary: #ffbb00;
/*element*/
$reg-font-size: 0.846rem;
/*blocks*/
/*CSS blocks*/
.navbar {
    width: 100%;
    font-size: $reg-font-size;
    background: $color-heading;
    padding: 0.25rem 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding: 0.25rem 1rem;
}
.top-navbar{


}
.top-navbar-container{
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: inline-flex;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;

    width: 1325px;
    height: 43.44px;
    max-width: 1140px;
    /*right gap*/
    justify-content: space-between !important;
}
.top-navbar__left{
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 540px;
    
}

/*topnav-left*/
.top-navbar-container__left{
    color: #fff;
}

/*topnav-right*/
.top-navbar-container__right{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    
}
.nav-link{

    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;  
    background-color: transparent;
    color: #fff;
    font-size: $reg-font-size;
    padding: 6px;
}
.nav-link-modified{
    @extend .nav-link;
    color: $color-black;
    white-space: nowrap;
}
.navbar-background-white{
    @extend .navbar;
    background-color: $color-white;
}
.bottom-navbar-container__right{
    @extend .top-navbar-container__right;
    
}




