@import "style";
@media #{$tablet}{
    .carouselItem1-container-text{
        width: 770px !important; 
    }
    .carouselItem1-container-btn{
        margin-left: 255px !important;
    }
    .carouselItem5-container-wrap{
        padding-left: 0 ;
        padding-right: 0 ;
    }
    .carouselItem1-container-wrap{
        width: 1050px ;
        height: 393px ;
    }
    .carouselItem2-division__position_left,
    .carouselItem3-division__position_left{
        width: 360px !important ;
        height: 280px !important ;
        background-size: cover !important;  
        background-repeat: no-repeat !important;
        background-position: center !important; 
    }
    .carouselItem2-division-position-right,
    .carouselItem3-division-position-right{
        width: 360px !important;
        height: 280px !important;
    }
    .carouselItem2-position-right-body__title{
        font-size: 0.8rem !important;
    }
    .carouselItem2-container-division,
    .carouselItem3-container-division{
        padding-left: 20px !important;
        padding-right: 20px !important ;
        padding-top: 110px !important;
    }
    .carouselItem2-btn-link{
        padding-left: 20px ;
        padding-right: 20px ;
    }
   
    .carousel3-middle-top-right{
        padding-left: 130px !important ;
    }

    .carousel3-middle-right{
        padding-left: 210px !important;    
    }
    /*carousel 4*/
    .carouselItem4-container-wrap,
    .carouselItem5-container-wrap{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .carouselItem4-division-position-right,
    .carouselItem5-division-position-right{
        padding-left: 15px !important;
        width: 215px !important ;
    }
    .carouselItem4-division-position-right-container,
    .carouselItem5-division-position-right-container{
        width: 350px !important;
    }
    .carouselItem4-title,
    .carouselItem5-title{
        font-size: 1.6rem !important;
    }
    .carouselItem4-position-right-body__title,
    .carouselItem5-position-right-body__title{
        font-size: 0.8rem !important;
    }
    .carouselItem4-container-division,
    .carouselItem5-container-division{
        width: 735px !important ;
    }
    .carouselItem4-division__position_left,
    .carouselItem5-division__position_left{
        width: 330px !important;
        height: 250px !important;
        background-size: cover !important;  
        background-repeat: no-repeat !important;
        background-position: center !important; 
    }
    
    /*dot*/
    .main-carousel-slideshow-dot{
        padding-left: 305px !important ;
    }
    .about-text-container{
        padding-left: 250px !important;
    }
    .about-text-desc{
        width: 400px !important;
        line-height: 1.5rem !important;
    }
    /*card section*/
    .about-text-only{
        width: 400px !important;
    }
    /*card*/
    .pickup-contianer{
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    .pickup-card-wrapper{
        margin-bottom: 90px !important;
    }
    /*Dialog*/
    .case-study-dialog-container{
        width: 560px !important;
        height: 290px !important;
    }
    .case-study-row-left{
        padding-left: 20px !important;
    }
    .csp1{
        margin-bottom: 135px !important;
    }
    .csp2{
        margin-bottom: 195px !important;
    }
    .csp3{
        margin-bottom: 195px !important;
    }
    .csp4{
        margin-bottom: 170px !important;
    }
    .csp5{
        margin-bottom: 135px !important;
    }
    /**/
    .crowd-funding-left-container{
        padding-left: 50px !important;
    }
    /**/
    .case-study-row-right{
        padding-left: 105px !important;
    }
    .case-study-pf-img-right{
        margin-bottom: 195px;
    }
    .new-body-container{
        margin-left: 35px !important;
    }
    .new-card1{
        width: 700px !important;
    }
    .new-card1{
        margin-left: 3px !important;
    }
    .new-header-title{
        margin-right: 35px !important;
    }
    /*news*/
    .new-header{
        padding-left: 230px !important;
    }
    .new-header-title{
        padding-right: 150px !important;
    }
    /*LOGO*/
    .posting-container-t{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    /*footer*/
    .footer-1-top-container-top{
        width: 640px !important;
        height: 290px !important;
    }
    .main-footer{
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
/*end of device media*/
}