@import "style";
@media #{$xl-tablet}{
    .carouselItem5-container-wrap{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .carouselItem1-container-wrap{
        width: 1050px !important;
        height: 393px !important;
    }
    .carouselItem2-division__position_left{
        width: 560px !important;
        height: 315px !important;
    }
    .carouselItem2-division-position-right{
        width: 382px !important;
        height: 315px !important;
    }
    .carouselItem2-container-division{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .carouselItem2-btn-link{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .carouselItem3-container-division{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .carouselItem3-division__position_left{
        width: 525px !important;
        height: 325px !important;
    }
    .carouselItem3-division-position-right{
        width: 460px !important;
        height: 325px !important;
    }
    .carousel3-middle-top-right{
        padding-left: 230px !important;
    }
    .carousel3-middle-right{
        padding-left: 310px !important;
    }
    /*carousel 4*/
    .carouselItem4-container-wrap{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .carouselItem4-division-position-right{
        padding-left: 15px !important;
        width: 400px !important;
    }
    .carouselItem4-division-position-right-container{
        width: 490px !important;
    }
    .carouselItem4-container-division{
        width: 990px !important;
    }
    .carouselItem4-division__position_left{
        width: 400px !important;
    }
    /*carousel 5*/
    .carouselItem5-container-wrap{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .carouselItem5-division-position-right{
        padding-left: 15px !important;
        width: 400px !important;
    }
    .carouselItem5-division-position-right-container{
        width: 490px !important;
    }
    .carouselItem5-container-division{
        width: 990px !important;
    }
    .carouselItem5-division__position_left{
        width: 400px !important;
    }
    /*dot*/
    .main-carousel-slideshow-dot{
        padding-left: 450px !important;
    }
    .about-text-container{
        padding-left: 390px;
    }
    .about-text-desc{
        width: 520px;
    }
    /*card section*/
    .pickup-contianer{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .pickup-card-wrapper{
        padding-left:10px !important;
        padding-right:10px !important;
        width: 330px !important;
    }
    .card-img-top{
        width: 310px !important;
    }
    /*case study section*/
    .case-study-row-left{
        padding-left:0px !important;
    }
    .case-study-dialog-container{
        width: 800px !important;
    }
    .case-study-pf-img-left{
        margin-left: 25px !important;
    }
    .case-study-row-right{
        padding-left: 110px !important;
    }
    /*crowd-funding section*/
   .crowd-funding-left-container{
       padding-left: 50px !important;
   }
   .crowd-funding-description{
       width: 560px !important;
   }
   /*news section*/
   .new-card1{
    margin-left: 12px !important;
    width: 1000px !important;
   }
   .new-header-title{
       padding-right: 320px !important;
   }
   /*logo company*/
   .posting-container-t{
    padding-left: 50px !important;
    padding-right: 50px !important;
   }
   /*footer*/
   .footer-1-top-container-top{
       width: 1000px !important;
       height: 220px !important;
   }
/*end of device media*/
}




